<div class="content">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header"><h5 class="title">Resim ekle</h5></div>
          <div class="card-body">
              <form>
                  <div class="mb-3">
                      <label for="carName">Araç Id</label>
                      <div class="form-group">
                          <input type="text" disabled [value]="currentId" (change)="addCarId($event)" id="carId" class="form-control" placeholder="Araç adı"/>
                      </div>
                  </div>
                  <div class="mb-3">
                      <label for="carImage">Resim</label>
                      <div class="form-group">
                          <input type="file" id="resim" (change)="processFile($event)"  class="form-control" placeholder="Araç Resmi"/>
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="carImage">-</label>
                    <div class="form-group">
                        <input type="hidden" id="imagePath" (change)="addImagePath($event)"  class="form-control" placeholder="Araç Resmi" value="-"/>
                    </div>
                </div>

              </form>
          </div>
          <div class="card-footer">
              <button class="btn btn-fill btn-primary" (click)="add()" >Resim Ekle</button>
          </div>

      </div>

  </div>

</div>
