<!--<ul class="list-group" >
    <li *ngFor="let brand of brands" routerLink="/cars/brand/{{brand.brandId}}" [class]="getCurrentBrand(brand)" (click)="setCurrentBrand(brand)">{{brand.brandName}}</li>
  </ul> -->
  <select [(ngModel)]="selectedBrand" (ngModelChange)="setCurrentBrand(selectedBrand)" class="form-select" aria-label="Marka seç" required>
    <option *ngFor="let brand of brands" [value]="brand.brandId" routerLink="/cars/brand/{{brand.brandId}}">{{brand.brandName}}</option>
  </select>