<app-navi></app-navi>
<div class="main-wrapper arkaplanrengi">
<div class="container" style="padding:10px;">
    <div class="row">
    <div class="col-md-3">
        <app-leftsidebar></app-leftsidebar>
    </div>
    <div class="row col-md-9">
        <!--<div id="arabalar" name="arabalar" class="border border-info" style="margin-bottom:10px;"><app-cars></app-cars></div>
        <div id="renkler" name="renkler" class="border border-info" style="margin-bottom:10px;"><app-colors></app-colors></div>
        <div id="renkler" name="renkler" class="border border-info" style="margin-bottom:10px;"><app-customers></app-customers></div> -->
        <router-outlet></router-outlet>
    </div>
    </div>
</div>
</div>