<app-navi *ngIf="showNav || topMenu"></app-navi>
<div class="main-wrapper arkaplanrengi">
<div class="container" style="padding:10px;">
    <div class="row">
        <div *ngIf="showNav" class="col-md-3">
            <app-leftsidebar ></app-leftsidebar>
        </div>
        <div *ngIf="!showNav" class="row col">
            <router-outlet style="display:none;"></router-outlet>
    </div>
    <div  *ngIf="showNav" class="row col-md-9">
        <router-outlet style="display:none;"></router-outlet>
    </div>
    </div>
</div>
</div>