<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Araç ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="carName">Araç Adı</label>
                        <div class="form-group">
                            <input type="text" id="carName" formControlName="carName" class="form-control" placeholder="Araç adı"/>
                        </div>
                    </div>
                    <!--<div class="mb-3">
                        <label for="brandId">Marka Id'si</label>
                        <div class="form-group">
                            <input type="number" id="brandId" formControlName="brandId" class="form-control" placeholder="Marka Id'si"/>
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <label for="brandId">Marka Seç</label>
                        <div class="form-group">
                            <select class="form-control" formControlName="brandId" id="brandId">
                              <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="colorId">Renk Seç</label>
                        <div class="form-group">
                            <select class="form-control" formControlName="colorId" id="colorId">
                              <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="mb-3">
                        <label for="colorId">Renk Id'si</label>
                        <div class="form-group">
                            <input type="number" id="colorId" formControlName="colorId" class="form-control" placeholder="Renk Id'si"/>
                        </div>
                    </div> -->
                    <div class="mb-3">
                        <label for="modelYear">Model Yılı</label>
                        <div class="form-group">
                            <input type="text" id="modelYear" formControlName="modelYear" class="form-control" placeholder="Model Yılı"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dailyPrice">Günlük Ücret</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" placeholder="Günlük ücret"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklama"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()" >Aracı ekle</button>
            </div>
            
        </div>

    </div>

</div>