<table class="table">
    <thead>
      <tr>
        <th class="text-light" scope="col">Müşteri Id</th>
        <th class="text-light" scope="col">Tam Ad</th>
        <th class="text-light" scope="col">E-Mail</th>
        <th class="text-light" scope="col">Şirket</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customerDetail of customerDetails">
            <th class="text-light">{{customerDetail.customerId}}</th>
            <th class="text-light">{{customerDetail.firstName}} {{customerDetail.lastName}}</th>
            <th class="text-light">{{customerDetail.email}}</th>
            <th class="text-light">{{customerDetail.companyName}}</th>
        </tr>
    </tbody>
  </table>
